.custom-buttonn {
    background-color: #59BC8F !important; 
    color: white !important; 
    border-color: #00f124 !important; 
    border-radius: 25px;
}


.custom-buttonn:hover {
    background-color: #06af14 !important; 
    border-color: #00ef3c !important; 
}

.navbar-brand-text {
    color: #59BC8F; 
    font-weight: bold;
}


.navbar-nav .nav-link {
    color: #000; 
    transition: color 0.3s ease; 
}

.navbar-nav .nav-link:hover {
    color: #59BC8F; 
  
}

.navbar-nav .active {
    font-weight: bold !important;
    color: #59BC8F !important;
    /* border-bottom: 2px solid #000000 !important; */
}
